.mainContent{
    border: 1px solid grey;
    padding: 20px;
    
}

h2{
    border-bottom: 2px solid grey;
}

input[type=text]{
    width: 100%;
}

ul {
    text-align: right;
    margin-top: 35px;
}

.header-name {
    width: 50%;
    float: left;
    background-color: teal;
}

.header-navbar {
    width: 50%;
    float: left;
}
.header {
    padding-bottom: 80px;
}

.name {
    margin-left: 20px;
}

li {
    display: inline;
}