h1 {
float: left;
margin-left: 100px;
background-color: #4aaaa5;
font-family: 'Georgia';
color: white;

}

ul{
    float: right;
    margin-right: 100px;
}

li {
    display: inline;
    color: white;
    text-align: center;
    padding: 5px 5px;
    border-right: 1px solid #bbb;
    
}
    
li:last-child {
        border-right: none;
    }
    


div{
    padding: 100px;

}

h2{
    color: #4aaaa5;
    border-bottom: 6px solid #cccccc;

}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover{
    color: #4aaaa5;
}